.profile-box {
    border: #00ffff 2px solid;
    border-radius: 20px;
    display: flex;
    padding: 20px;
}

.profile-description {
    padding: 20px;
}

.profile-image {
    width: 460px;
}